.modal-wrapper {
	position: absolute;
	z-index: 10;
	height: 90%;
	width: 97%;
	margin: auto;
	background: white;
	border: 1px solid #d0cccc;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	transition: all .8s;
}

.modal-image {
	max-width: inherit;
	height: auto;
}

.modal-header {
	background: #263238;
	height: 40px;
	line-height: 40px;
	padding: 5px 20px;
	text-align: right;
}

.modal-header h3 {
	color: white;
	float: left;
	margin: 0;
	padding: 0;
}

.modal-body {
	padding: 10px 15px;
	text-align: center;
}

.modal-footer {
	background: #263238;
	height: 25px;
	padding: 15px;
}

.close-modal-btn {
	color: white;
	cursor: pointer;
	float: right;
	font-size: 30px;
	margin: 0;
}

.close-modal-btn:hover {
	color: black;
}